:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

#app {
	position: relative; 
	overflow: scroll; 
	width: 100%; 
	height: 100vh;
}

.zoom-button {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	background: white;
	margin: 5px;
	cursor: pointer;

	&:active {
		margin: 7.5px;
		width: 25px;
		height: 25px;
	}

	&:hover {
		background-color: gold;
	}
}

.quality-tag {
	border-radius: 100%; 
	position : absolute;
	align-content : center;
	text-align: center;
	user-select : none;
	pointer-events: none;
}

.quality-tag-button {
	border: none;
	background: none;
	color: black;
	cursor: pointer;
	pointer-events: auto;
	border-radius: 0;

	&:focus-visible {
		border: 1px solid black;
		outline: none;
	}

	&:hover {
		border: 1px solid black;
	}

	&:active {
		border: 2px solid black;
	}
}

#side-panel {
	position: absolute;
	right: 5%;
	height: 80%;
	width: 30%;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 2.5%;
}
