:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

#app {
	position: relative; 
	overflow: scroll; 
	width: 100%; 
	height: 100vh;
}

.zoom-button {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	background: white;
	margin: 5px;
	cursor: pointer;

	&:active {
		margin: 7.5px;
		width: 25px;
		height: 25px;
	}

	&:hover {
		background-color: gold;
	}
}

.quality-tag {
	border-radius: 100%; 
	position : absolute;
	align-content : center;
	text-align: center;
	user-select : none;
	pointer-events: none;
}

.quality-tag-button {
	border: none;
	background: none;
	color: black;
	cursor: pointer;
	pointer-events: auto;
	border-radius: 0;

	&:focus-visible {
		border: 1px solid black;
		outline: none;
	}

	&:hover {
		border: 1px solid black;
	}

	&:active {
		border: 2px solid black;
	}
}

#side-panel {
	position: absolute;
	right: 5%;
	height: 80%;
	width: 30%;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 2.5%;
}

a {
    color: #2292A4;
    text-decoration-thickness: 1.5px;

    &:hover {
        color: #003049;
        text-decoration-thickness: 2px;
    }
}

.settings-gear {
	width: 30px;
	height: 30px;
	background-color: #8c8c8c;
	border-radius: 15%;
	position: relative;

	&::before {
		background-color: #8c8c8c;
		content: "";
		position: absolute;
		width: 30px;
		height: 30px;
		transform: rotate(45deg);
		border-radius: 15%;
		left: 0;
		top: 0;
	}

	&::after {
		width: 40%;
		height: 40%;
		position: absolute;
		background-color: white;
		content: "";
		left: 32.5%;
		top: 32.5%;
		border-radius: 100%;
	}
}

.settings-button {
	border: 1px solid black;
	background: white;
	margin: 5px;
	cursor: pointer;
	position: relative;
	padding: 7.5px;

	&:active {
		margin: 7.5px;
		width: 45px;
		height: 45px;
	}

	&:hover {
		background-color: gold;
	}
}
